<!--
    Start About Area
-->
<section class="about-area" id="contact">
    <div class="container-fluid">
        <div class="row justify-content-end align-items-center d-flex no-padding">
            <div class="col-lg-6 about-left mt-70">
                <h1>
                    Ponte en contacto
                    <br/>
                    con nosotros.
                </h1>
                <p>
                    inappropriate behavior is often laughed off as “boys will be
                    <br/>
                    boys,” women face higher conduct standards especially
                    <br/>
                    in the workplace. That’s why it’s crucial that, as women, our
                    <br/>
                    behavior on the job is beyond reproach.
                </p>
                <div class="buttons">
                    <a href="#" class="about-btn text-uppercase primary-border circle">
                        What we offer
                    </a>
                    <a href="#" class="about-btn text-uppercase  primary-border circle">
                        Get a free quote
                    </a>
                </div>
            </div>
            <div class="col-lg-6 about-right">
                <img class="img-fluid" src="{{ "/assets/img/about.png" | relative_url }}" alt=""/>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->
