<!--
    start banner Area
-->
<section class="banner-area relative" id="inicio" data-parallax="scroll" data-image-src="{{ "/assets/img/bg/bg_home.jpg" | relative_url }}">
    <div class="overlay-bg overlay">
    </div>
    <div class="container">
        <div class="row fullscreen  d-flex align-items-center justify-content-end">
            <div class="banner-content col-lg-6 col-md-12">
                <h1>
                    Proporcionamos
                    <br/>
                    <span>
                        soluciones
                    </span>
                    que te
                    <br/>
                    facilitan la
                    <span>
                        vida.
                    </span>
                </h1>
                <a href="#contact" class="primary-btn2 header-btn text-uppercase">
                    Contactanos
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
