<!--
    Start project Area
-->
<section class="project-area section-gap" id="project">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-40 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">
                        Latest Project on the go
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        <br/>
                        labore  et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-works-carousel mt-40">
                <div class="item">
                    <img class="img-fluid" src="{{ "/assets/img/project.jpg" | relative_url }}" alt=""/>
                    <div class="caption text-center mt-20">
                        <h6 class="text-uppercase">
                            Vector Illustration
                        </h6>
                        <p>
                            LCD screens are uniquely modern in style, and the liquid crystals that make them work have
                            <br/>
                            allowed humanity to create slimmer, more portable technology.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-fluid" src="{{ "/assets/img/project.jpg" | relative_url }}" alt=""/>
                    <div class="caption text-center mt-20">
                        <h6 class="text-uppercase">
                            Vector Illustration
                        </h6>
                        <p>
                            LCD screens are uniquely modern in style, and the liquid crystals that make them work have
                            <br/>
                            allowed humanity to create slimmer, more portable technology.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-fluid" src="{{ "/assets/img/project.jpg" | relative_url }}" alt=""/>
                    <div class="caption text-center mt-20">
                        <h6 class="text-uppercase">
                            Vector Illustration
                        </h6>
                        <p>
                            LCD screens are uniquely modern in style, and the liquid crystals that make them work have
                            <br/>
                            allowed humanity to create slimmer, more portable technology.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-fluid" src="{{ "/assets/img/project.jpg" | relative_url }}" alt=""/>
                    <div class="caption text-center mt-20">
                        <h6 class="text-uppercase">
                            Vector Illustration
                        </h6>
                        <p>
                            LCD screens are uniquely modern in style, and the liquid crystals that make them work have
                            <br/>
                            allowed humanity to create slimmer, more portable technology.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-fluid" src="{{ "/assets/img/project.jpg" | relative_url }}" alt=""/>
                    <div class="caption text-center mt-20">
                        <h6 class="text-uppercase">
                            Vector Illustration
                        </h6>
                        <p>
                            LCD screens are uniquely modern in style, and the liquid crystals that make them work have
                            <br/>
                            allowed humanity to create slimmer, more portable technology.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
