<section class="service-area pt-100 pb-150" id="servicios">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">
                        Algunos de nuestros servicios
                    </h1>
                    <p class="parrafo">
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="sigle-service col-lg-3 col-md-6">
                <i class="fas fa-cogs fa-3x">
                </i>
                <h4>
                    Product Designers
                </h4>
                <p class="parrafo">
                    El objetivo final del Product Designer debe ser llegar a la versión más desarrollada de una aplicación.
                </p>
            </div>
            <div class="sigle-service col-lg-3 col-md-6">
                <i class="fab fa-python fa-3x">
                </i>
                <h4>
                    Django Developers
                </h4>
                <p class="parrafo">
                    Django está centrado en el desarrollo rápido de aplicaciones web basado en el principio de la programación
                    <b>
                        DRY (No te repitas)
                    </b>
                </p>
            </div>
            <div class="sigle-service col-lg-3 col-md-6">
                <i class="fas fa-mobile-alt fa-3x">
                </i>
                <h4>
                    Mobile Development
                </h4>
                <p class="parrafo">
                    El mercado de los usuarios de teléfonos inteligentes cada vez es más y más grande.
                </p>
            </div>
            <div class="sigle-service col-lg-3 col-md-6">
                <i class="fas fa-boxes fa-3x">
                </i>
                <h4>
                    Scalable products
                </h4>
                <p class="parrafo">
                    La escalabilidad es una de las mejores caracterísiticas que debe tener un modelo de negocio exitoso.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- end service Area-->
