<!--
    Start skill Area
-->
<section class="skill-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 skill-left">
                <h1 class="text-white mb-30">
                    Nuestros campos de experiencia
                </h1>
                <p>
                    Colocamos todo nuestro empeño para volvernos expertos en diferentes
                    <br/>
                    tecnologías para ofrecer soluciones rapidas y de calidad.
                </p>
            </div>
            <div class="col-lg-6 skill-right">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-4 col-md-4 single-skill">
                        <div class="skill1 d-block mx-auto">
                        </div>
                        <h4>
                            Django Developers
                        </h4>
                    </div>
                    <div class="col-lg-4 col-md-4 single-skill">
                        <div class="skill2 d-block mx-auto">
                        </div>
                        <h4>
                            Mobile Development
                        </h4>
                    </div>
                    <div class="col-lg-4 col-md-4 single-skill">
                        <div class="skill3 d-block mx-auto">
                        </div>
                        <h4>
                            Scalable Products
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End skill Area -->
