<section class="team-area section-gap" id="team">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">
                        Nuestro equipo de trabajo
                    </h1>
                    <p>
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="https://avatars0.githubusercontent.com/u/17889145?s=400&v=4" alt=""/>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="https://github.com/joseGabriel06" target="_blank">>
                            <i class="fab fa-github">
                            </i>
                        </i>
                    </a>
                    <a href="https://www.instagram.com/joseguzmanoficial/" target="_blank">>
                        <i class="fab fa-instagram">
                        </i>
                    </a>
                </div>
            </div>
            <div class="meta-text mt-30 text-center">
                <h4>
                    Jose Guzman
                </h4>
                <p>
                    FullStack Developer and founder
                </p>
            </div>
        </div>
        <div class="col-md-3 single-team">
            <div class="thumb">
                <img class="img-fluid" src="https://avatars1.githubusercontent.com/u/23200285?s=400&v=4" alt=""/>
                <div class="align-items-center justify-content-center d-flex">
                    <a href="https://github.com/digbemez" target="_blank">
                        <i class="fab fa-github">
                        </i>
                    </i>
                </a>
                <a href="https://www.instagram.com/digbemez/" target="_blank">>
                    <i class="fab fa-instagram">
                    </i>
                </a>
            </div>
        </div>
        <div class="meta-text mt-30 text-center">
            <h4>
                Diego Berrio
            </h4>
            <p>
                Frontend Developer and co-founder
            </p>
        </div>
    </div>
</div>
</div>
</section>
<!-- Start team Area -->
